# Server
PORT=3000
NODE_ENV=development

# MongoDB (replica set required for transactions — docker-compose provides it)
MONGO_URI=mongodb://localhost:27017/invoice?replicaSet=rs0&directConnection=true

# JWT
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

# CORS
CLIENT_ORIGIN=http://localhost:5173

# Uploads
UPLOAD_DIR=./uploads

# Razorpay Payment Gateway
RAZORPAY_KEY_ID=rzp_live_TLzggBEFkkktep
RAZORPAY_KEY_SECRET=67Fh9xj6iaz1HXAyGPhRsU6X
